<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<div th:replace="login :: header"></div>
<div>
    <!--/*@thymesVar id="user" type="crud.model.User"*/-->
    <div>
        <form action="#" th:action="@{/admin/newUser}" th:object="${user}" method="post">
            <fieldset th:replace="edituser :: user_data"></fieldset>
            <fieldset th:replace="edituser :: user_role"></fieldset>
<!--            <fieldset th:replace="edituser :: user_settings"></fieldset>-->
            <br><input type="submit" value="Save">
        </form>
    </div>
</div>
</body>
</html>