<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit users</title>
    <meta charset="UTF-8">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<div th:replace="login :: header"></div>
<div>
    <th:block th:if="${#lists.isEmpty(roles)}">
        <p>Role list is empty!</p><br>
    </th:block>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>isRemoved</th>
            <th>action</th>
        </tr>
        <!--/*@thymesVar id="role" type="crud.model.Role"*/-->
        <th:block th:each="role : ${roles}">
            <tr>
                <td th:text="${role.id}"></td>
                <td th:text="${role.roleName}"></td>
                <td th:text="${role.removed}"></td>
                <td>
                    <a th:href="@{/admin/editRole(id=${role.id})}"><button>Edit</button></a>
                    <a th:href="@{/admin/removeRole(id=${role.id})}"><button th:disabled="${!role.removed}">Remove</button></a>
                </td>
            </tr>
        </th:block>
    </table>
</div>
<div>
    <br>
    <a th:href="@{/admin/newRole}"><button>Add new role</button></a>
</div>
</body>
</html>